<main>
  <div class="product__list">
    <div class="form">
      <h1 class="form__title">Список товарів</h1>
      <div class="user-list">
        {{#with data.products}}
        <div class="product">
          {{#each list}}
          {{> product-card}}
          {{/each}}
        </div>
        {{/with}}
      </div>
    </div>
    <div class="button">
      <a href="/product-create" class="button">Добавити товар</a>
    </div>
  </div>
</main>